# Binaries
**/bin/
bin-int/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Hazel/vendor/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__
