# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Hazel files
*.log
HazelProfile-Startup.json
HazelProfile-Runtime.json
HazelProfile-Shutdown.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user