# Directories
/bin/
Hazel/vendor/**/bin/
bin-int/

# Files
*.user
Makefile
Hazel.config
Hazel.creator
Hazel.files
Hazel.includes

# Hazel files
*.log

# Visual Studio files and folder
.vs/
*.sln
**/**/*.vcxproj
**/**/*.vcxproj.filters
